<div class="container">
  <div class="card d-flex justify-content-center">
    <h2>URL SHORTENER</h2>
    <div class="icon">photo</div>
    <form action="/" method="POST">
      <input type="text" name="url" class="w-75 mx-3">
      <button type="submit" class="btn btn-primary w-50">Shorten</button>
    </form>
  </div>
</div>