<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="card bg-dark d-flex flex-column justify-content-center align-items-center">
    <div class="logo w-100 text-center">
      <a href="/">URL SHORTENER<i class="fas fa-link fa-lg ml-2"></i></a>
    </div>
    <div class="invalid-block w-75">
      <h6 class="invalid-title text-left mb-3">The URL is not valid, make sure the URL you tried to shorten is
        correct.
      </h6>
      <div class=" text-left">Possible errors:
        <div class="ml-4">
          <ul>
            <li>Check if the site is online</li>
            <li>Check the address bars and punctuation</li>
            <li>The URL may have been blocked</li>
            <li>The URL may have been reported</li>
          </ul>
        </div>
      </div>

    </div>
    <a href="/" class="submit-btn btn w-50" style="text-decoration: none; color: #ececec;">Back</a>
  </div>
</div>