<div class="container">
  <div class="card d-flex justify-content-center">
    <h2>URL SHORTENER</h2>
    <div class="icon">photo</div>
    <div>Sorry, this link is invalid</div>
    {{ url }}
    <button type="submit" class="btn btn-primary w-50">Copy</button>
  </div>
</div>