<div class="container">
  <div class="card bg-dark d-flex justify-content-center">
    <h2>URL SHORTENER<i class="fas fa-link fa-lg ml-2"></i></h2>
    <div>Success! Please use this link:</div>
    {{#if shorten}}{{shorten}}{{/if}}
    <button type="submit" class="btn btn-primary w-50">Copy</button>
  </div>
</div>