<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="card bg-dark d-flex flex-column justify-content-center align-items-center">
    <div class="logo">URL SHORTENER<i class="fas fa-link fa-lg ml-2"></i></div>
    <form action="/" method="POST" class="w-100 d-flex flex-column align-items-center">
      <div class="shorten-block w-75">
        <h4 class="mb-1 text-left">Your shortened URL</h4>
        <div class="url-block input-group mb-3">
          <input type="text" class="form-control" placeholder="Your shortened URL" aria-describedby="basic-addon2"
            value="{{ checkedShortURL }}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Copy<i class="far fa-copy ml-1"></i></button>
          </div>
        </div>
      </div>
      <div class="original-block w-75 mt-3">
        <div class="mb-1 text-left">Original URL:</div>
        <div class="url-block text-center">
          {{ url }}
        </div>
      </div>
    </form>
  </div>
</div>