<div class="container h-100">
  <div style="outline: auto;" class="card bg-dark h-100 d-flex flex-column justify-content-center align-items-center">
    <h2>URL SHORTENER<i class="fas fa-link fa-lg ml-2"></i></h2>
    <form action="/" method="POST" class="w-100 d-flex flex-column align-items-center">
      <div>Success! Please use this link:</div>
      {{checkShortUrlRepeat}}
      <button type="submit" class="submit-btn btn btn w-50">Copy</button>
    </form>
  </div>
</div>