@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;900&display=swap');

* {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html, body, .container {
  height: 100%;
  width: 100%;
}

.body {
  background-color: #6c757d;
}

.card {
  width: 100%;
  border: 10px solid #ececec;
}

.logo {
  font-size: 1.5rem;
  font-family: 'Noto Serif TC', serif;
  margin-bottom: 6rem;
}

/* input-area:-webkit-autofill {
    background-color: black
    background-image: none;
    color: rgb(0, 0, 0);
} */


.card, .input-area, .card button {
  color: #ececec;
}

.submit-btn {
  margin-top: 2rem;
  background-color: #486685;
}

.submit-btn:hover {
  background-color: #f2a365;
}

input {
  border: none;
  border-bottom: 1px solid #ececec;
  outline: none;
  background: transparent;
  border-radius: 0;
  letter-spacing: 0.5px;
}

input:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #f2a365;
  background: transparent;
  transition-duration: 1s;
}

.url-block {
  background-color: #636060;
  backdrop-filter: blur(50px);
}

/* .fa-info-circle, .fa-pencil-alt, .fa-times-circle {
  color: #6C757D;
  background: transparent;
}

.fa-info-circle:hover, .fa-pencil-alt:hover, .fa-times-circle:hover {
  color: #dc3543;
} */
@media screen and (max-width: 576px){
  .card {
    max-height: 50%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px){
  .card {
    min-height: 100%;
    min-width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .card {
    min-height: 50%;
    min-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    padding: 10rem 0;
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    padding: 10rem 0;
    max-height: 100%;
    max-width: 100%;
  }
}