@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;900&display=swap');

* {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html, body, .container {
  height: 100%;
  width: 100%;
}

.body {
  background-color: #6c757d;
}

.card {
  width: 100%;
  box-shadow:  0 0px 15px rgb(194, 194, 194);
  /* border: 10px solid #ececec; */
}

/* .card:hover {
  
  transition-duration: 0.5s;
} */

.logo {
  font-family: 'Noto Serif TC', serif;
  background-color: transparent ;  
  margin-bottom: 5rem;
}

.logo a:hover {
  text-decoration: none;
}

.logo i {
  color: #486685; ;  
}

.logo a:hover i {
  color: #f2a365;
  transition-duration: 0.5s; 
  /* box-shadow:  0 0px 30px rgb(194, 194, 194); */ 
}

/* input-area:-webkit-autofill {
    background-color: black
    background-image: none;
    color: rgb(0, 0, 0);
} */

.card, .input-area, .card button, .logo a, .logo a:hover, .valid-input-area, .valid-input-area:focus {
  color: #ececec;
}

.submit-btn {
  margin-top: 1rem;
}

.submit-btn, .copy-btn {
  background-color: #486685;
}

.submit-btn:hover, .copy-btn:hover {
  background-color: #f2a365;
}

.input-area {
  border: none;
  border-bottom: 1px solid #ececec;
  outline: none;
  background: transparent;
  border-radius: 0;
  letter-spacing: 0.5px;
}

.input-area:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #f2a365;
  background: transparent;
  transition-duration: 1s;
}

.valid-input-area, .copy-btn {
  border: none;
  outline: none;
}

.copy-btn:focus {
  box-shadow: none;
}

.valid-input-area, .valid-input-area:focus {
  background-color: #636060;
  box-shadow: none;
}

.original-block, .original-input {
  font-size: 0.8rem;
}

.original-input:hover {
  cursor: pointer;
  text-decoration: underline;
}


@media screen and (max-width: 576px){
  
  .card {
    max-height: 100%;
    max-width: 100%;
  }

  .logo {
    margin-top: 3rem;
  }

  .submit-btn, .original-block {
    margin-bottom: 3rem;
  }

  .input-area, .display-shortened-url {
    font-size: 0.8rem;
  }

  .original-input {
    font-size: 0.5rem;
  }

  .logo, .submit-btn, .copy-btn {
    font-size: 0.9rem;
  }

}

@media screen and (min-width: 577px) and (max-width: 992px) {
  
  .logo {
    margin-top: 3rem;
  }

  .submit-btn, .original-block {
    margin-bottom: 3rem;
  }

  .input-area, .display-shortened-url {
    font-size: 1.1rem;
  }

  .original-input {
    font-size: 0.8rem;
  }

  .logo, .submit-btn, .copy-btn {
    font-size: 1.4rem;
  }

}

@media screen and (min-width: 993px) and (max-width: 4000px) {

  .logo {
    margin-top: 3rem;
  }

  .submit-btn, .original-block {
    margin-bottom: 3rem;
  }

  .shorten-title {
    font-size: 2rem;
  }

  .input-area, .display-shortened-url {
    font-size: 1.5rem;
  }

  .original-title {
    font-size: 1.1rem;
  }

  .original-input {
    font-size: 1rem;
  }

  .logo, .submit-btn, .copy-btn {
    font-size: 1.7rem;
  }

}