@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;900&display=swap');

* {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html, body, .container {
  height: 100%;
  width: 100%;
}

.body {
  background-color: #6c757d;
}

.card {
  width: 100%;
  /* border: 10px solid #ececec; */
}

.card:hover {
  box-shadow:  0 0px 30px rgb(194, 194, 194);
  transition-duration: 0.5s;
}

.logo {
  font-size: 1.5rem;
  font-family: 'Noto Serif TC', serif;
  margin-bottom: 6rem;
  background-color: transparent ;
  
}

.logo a:hover {
  text-decoration: none;
}

/* input-area:-webkit-autofill {
    background-color: black
    background-image: none;
    color: rgb(0, 0, 0);
} */

.card, .input-area, .card button, .logo a, .logo a:hover {
  color: #ececec;
}

.submit-btn {
  margin-top: 2rem;
  background-color: #486685;
}

.submit-btn:hover {
  background-color: #f2a365;
}

input {
  border: none;
  border-bottom: 1px solid #ececec;
  outline: none;
  background: transparent;
  border-radius: 0;
  letter-spacing: 0.5px;
}

input:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #f2a365;
  background: transparent;
  transition-duration: 1s;
}

.url-block {
  background-color: #636060;
  backdrop-filter: blur(50px);
}

@media screen and (max-width: 576px){
  .card {
    max-height: 50%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px){
  .card {
    min-height: 100%;
    min-width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .card {
    min-height: 50%;
    min-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    padding: 10rem 0;
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    padding: 10rem 0;
    max-height: 100%;
    max-width: 100%;
  }
}